<section id="experience">
  <p class="section__text__p1">Explore My</p>
  <h1 class="title">Skills</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container">
        <h2 class="experience-sub-title">Frontend Development</h2>
        <div class="article-container">
          <article>
            <img
              src="./assets/img/html.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>HTML</h3>
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img
            src="./assets/img/css.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>CSS</h3>
              <p>Intermediate</p>
            </div>
          </article>
 
          <article>
            <img
            src="./assets/img/js.jpg"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>JavaScript</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img
            src="./assets/img/a.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>Angular</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img
            src="./assets/img/5968671.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>BootStrap</h3>
              <p>Intermediate</p>
             
            </div>
          </article>
  
        </div>
      </div>
      <div class="details-container">
        <h2 class="experience-sub-title">Backend Development</h2>
        <div class="article-container">
          
          <article>
            <img
            src="./assets/img/java.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>Java</h3>
              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img
            src="./assets/img/download (1).png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              <h3>Git</h3>
              <p>Intermediate</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

</section>