<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="section__pic-container">
      <img
        src="./assets/img/lufi smile.jpg"
        alt="Profile picture"
        class="about-pic"
      />
    </div>
    <div class="about-details-container">
      <div class="about-containers">
 
      </div>
      <div class="text-container">
        <p>
          
              I am a dedicated and enthusiastic software developer with a strong 
              foundation in HTML, CSS, JavaScript, Angular, Java,  and Git/GitHub. 
              As a recent graduate, I am eager to apply my skills to real-world 
              projects and contribute to a dynamic team. I am passionate about 
              creating user-friendly web applications and constantly expanding my 
              knowledge in the ever-evolving field of technology."
        </p>
      </div>
    </div>
  </div>
  
  
</section>