<input type="checkbox" id="navcheck">
<div class="nav-btn">
    <label htmlfor="navcheck">
        <span></span>
        <span></span>
        <span></span>
    </label>
</div>
<!--Hamburger menu end-->
<!--Header start-->
<header class="header">
    <nav class="navbar">
        <!--Logo-->
        <h1>
            <a href="#" class="nav-logo"><span>S</span>urender</a>
        </h1>
        <!--Logo-->
        <!--Navigation-->
        <ul class="nav-menu">
            <li class="nav-item">
                <a  class="nav-link " routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" routerLink="about" routerLinkActive="active-link">About Me</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" routerLink="projects" routerLinkActive="active-link">Projects</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link"  routerLink="education" routerLinkActive="active-link">Resume</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" routerLink="skill" routerLinkActive="active-link">Skills</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
            </li>
        </ul>
        <!--Navigation-->
    </nav>
</header>

