<body>
	<div class="container">
	
		<div class="single-box box-right">
			<div class="custom"></div>
			<div class="date-area">
				<span>2023</span>
			</div>
			<div class="content">
				<h2>Bachelor's Of Computer Application</h2>
				<h3>A.M Jain College</h3>
				<p>University Of Madras</p>
			</div>
		</div>
		<div class="single-box">
			<div class="custom"></div>
			<div class="date-area">
				<span>2020</span>
			</div>
			<div class="content">
				<h2>Higher Secondary</h2>
				<h3>State Board</h3>
				<p>Govt.Boys.Hr.Sec.School</p>
			</div>
		</div>
		<div class="single-box box-right">
			<div class="custom"></div>
			<div class="date-area">
				<span>2018</span>
			</div>
			<div class="content">
				<h2>SSLC</h2>
				<h3>State Board</h3>
				<p>Govt.Boys.Hr.Sec.School</p>
			</div>
		</div>
	</div>
</body>