
.container {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 80px auto;
}
.single-box {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}
.date-area {
	display: flex;
	background: linear-gradient(to right, #000 45%, #fff 45%, white 45%, #000 50%);
	order: 2;
	text-align: center;
	color: #fff;
	font-size: 28px;
	flex-basis: 100px;
}
.date-area>span {
	font-size: 20px;
	line-height: 70px;
	margin: auto;
	background: rgb(209, 25, 25);
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.content {
	text-align: center;
	padding: 20px;
	border-radius: 80px;
	color: #fff;
	order: 3;
	width: 80%;
	padding-left: 10px;
	background: #000; 
}
.content {
	margin-bottom: 2%;
}
.content h2 {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}
.content h3 {
	margin: 5px;
	font-size: 14px;
	color: color;
}
@media (min-width: 640px) {
	.content, .custom {
		width: 40%;
	}
	.box-right .content {
		order: 1;
		padding-right: 10px;
		border-radius: 25px;
	}
	.box-right .custom {
		order: 3;
	}
}