<!-- <div class="main">
    <div class="content">
        <h1>My Name is <span>Surender</span></h1>
        <span class="home-text">Software Developer</span>
        <h3>I'm a designer & Developer  <span> sit amet </span>consectetur adipisicing elit. 
            <br>Accusamus temporanobis nam, facere sit ab non nos.</h3>
        <p>sum dolor, sit amet consectetur adipisicing elit</p>
        <button routerLink="about" routerLinkActive="active-link">Get In Touch</button>
    </div>
    <div class="home-img">
        <img src="D:\imgs/op.jpg" alt="">
    </div>

 </div>   -->
 <section id="profile">
    <div class="section__pic-container">
      <img src="./assets/img/wallpaperflare-cropped.jpg" alt="Surender profile picture" />
    </div>
    <div class="section__text">
      <p class="section__text__p1">Hello, I'm</p>
      <h1 class="title">Surender</h1>
      <p class="section__text__p2">  I'm A <span>Developer</span> & <span>Designer </span>. I Will Make Your Project Beautiful And Attractive,<br><h6>You Can Fine On GitHub</h6></p>
      <div class="btn-container">
        <button
          class="btn btn-color-2">
          Download CV
        </button>
        
      </div>
      <div id="socials-container">
        <a href="https://www.linkedin.com/in/surender-s-217019283"><img
          src="./assets/img/images (1).png"
          alt="My LinkedIn profile"
          class="icon"/></a>
     
        <a href="https://github.com/Surender12234"><img
          src="./assets/img/download (1).png"
          alt="My Github profile"
          class="icon"/></a>
      </div>
    </div>
  </section>
  