

* {
  margin: 0;
  padding: 0;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}


/* PROFILE SECTION */

.section__text__p1 {
  text-align: center;
  font-size: 20px;
  font-family: 'Dancing Script',cursive;
  color: #fff;
  font-weight: bolder;
}

.title {
  font-size: 3rem;
  text-align: center;
  color:rgb(206, 52, 52) ;
  font-weight: bold;
  font-family: 'Ubuntu',cursive;
}


/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.5rem;
  width: 8rem;
  border-radius: 1rem;
}


.btn-color-2 {
  border: red 0.1rem solid;
}

.btn-color-2:hover {
  cursor: pointer;
}


.btn-color-2:hover {
  background:  rgb(206, 52, 52);
  color: white;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */


.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}







.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.details-container {
    padding: 0.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
.color-container {
  border-color:red;
  background: rgb(250, 250, 250);
}


.project-img {
  border-radius: 2rem;
  width: 60%;
  height: 80%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color:red;
}






@media screen and (max-width: 1400px) {
 
    .about-containers {
      flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 1200px) {
   
    .experience-details-container {
      margin-top: 2rem;
    }

    .section-container {
      display: block;
    }
   
    .section-container {
      height: fit-content;
    }

    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
 
    article {
      font-size: 1rem;
    }
    
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
  
  
    .experience-sub-title {
      font-size: 1.25rem;
    }
 
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    
  }